.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1F1F1E;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    width: 70%;
    max-width: 1600px;
}

.img-container {
    border: 1px solid white;
    width: 750px;
    height: 50vh; 
    max-height: 450px; 
    background-color: #1F1F1E;
}

.data-container {
    border: 1px solid white;
    width: 350px;
    height: 60vh; 
    max-height: 550px; 
    background-color: #1F1F1E;
    margin-bottom: 10vh; 
}

