.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1F1F1E;
}

:deep(.main) {
    width: 100%;
    display: flex;
    justify-content: center;
}
