@inherits LayoutComponentBase

<div class="page">
    <div class="container">
        <div class="img-container"></div>
        <div class="data-container"></div>
    </div>

    <main>
        <article class="main">
            @Body
        </article>
    </main>
</div>