.page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #1F1F1E;
}

.sidebar {
    background-color: #1F1F1E;
    width: 285px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.main {
    flex: 1;
    padding: 20px;
}

.KontaktLink {
    color: white;
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
}

.EditIcon {
    color: white;
    background: none;
    border: none;
    position: absolute;
    bottom: 20px;
    left: 200px;
}

.AddIcon {
    color: white;
    background: none;
    border: none;
    position: absolute;
    bottom: 20px;
    left: 10px;
}