.Topbar {
    height: 100px;
    width: 100%;
    background-color: #1F1F1E;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
    gap: 1rem;
}

.Login {
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    border-radius: 17px;
    height: 60px;
    width: 120px;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Searchbar {
    flex: auto; 
    max-width: 820px;
}

    .Searchbar input {
        width: 100%;
        height: 49px;
        background-color: black;
        border: 2px solid white;
        border-radius: 20px;
        color: white;
        font-size: 20px;
        padding: 5px 15px;
        outline: none;
        box-sizing: border-box;
    }

        .Searchbar input::placeholder {
            color: #FFFFFF;
        }

.social-links {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 55px; 
}

.Link-TT-IG {
    margin-right: 15px; 
    background-color: black;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 17px;
}