body {
    background-color: #31293F;
}

.select-wrapper {
    position: relative;
    width: 1400px;
    margin: 30px auto 0 auto;
}

.Marke {
    background-color: #796EA8;
    width: 100%;
    height: 90px;
    padding: 20px;
    text-align: center;
    font-size: 40px; 
    color: #D3D9E9;
    border: 2px solid #796EA8;
    border-radius: 40px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
    .Marke option {
        font-size: 16px; 
        padding: 5px 10px; 
        color: white; 
    }

.dropdown-arrow {
    position: absolute;
    right: 30px;
    top: 55%;
    transform: translateY(-50%);
    pointer-events: none;
}


.DatumOrt {
    margin-top: 30px;
    background-color: #796EA8;
    color: #D3D9E9;
    border: 2px solid #796EA8;
    border-radius: 40px;
    outline: none;
    text-align: center;
    width: 600px;
    height: 80px;
    padding: 20px 60px 20px 20px;
    font-size: 40px;
    margin-top: 40px;
    position: relative;
    box-sizing: border-box;
}

.inputcontainer {
    position: relative;
    display: inline-block;
}

    .inputcontainer svg {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(15%);
        pointer-events: none;
        color: #D3D9E9;
    }

.Box {
    margin-top: 40px;
    background-color: #796EA8;
    width: 1400px;
    height: 310px;
    border-radius: 40px;
}

.pickBox {
    margin-left: 50px;
    margin-top: 50px;
    background-color: #A6A9C8;
    width: 205px;
    height: 205px;
    border-radius: 40px;
}

.UploadIcon {
    margin-left: 68px;
    margin-top: 78px;
    color: #D3D9E9;
}

.ImageGrid {
    display: flex;
    gap: 20px;
    margin-left: 290px;
    margin-top: -185px;
}

.LargeImage {
    width: 290px;
    height: 290px;
    object-fit: cover;
    border: 2px solid black;
}

.SmallImageGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.SmallImage {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 2px solid black;
}

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; 
    margin-top: 40px;
    margin-left: 820px;
}

.CancelButton,
.SaveButton {
    height: 60px;
    width: 250px;
    border-radius: 40px;
    background-color: #796EA8;
    text-align: center;
    font-size: 32px;
    line-height: 60px;
    color: #D3D9E9;
    cursor: pointer;
}