body {
    background-color: #31293F;
}

.Marke {
    background-color: #796EA8;
    width: 1400px;
    height: 90px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    color: #D3D9E9;
    border: 2px solid #796EA8;
    border-radius: 40px;
    outline: none;
}

.DatumOrt {
    margin-top: 40px;
    background-color: #796EA8;
    color: #D3D9E9;
    border: 2px solid #796EA8;
    border-radius: 40px;
    outline: none;
    text-align: center;
    width: 600px;
    height: 80px;
    padding: 20px 60px 20px 20px;
    font-size: 40px;
    margin-top: 40px;
    position: relative;
    box-sizing: border-box;
}

.inputcontainer {
    position: relative;
    display: inline-block;
}

    .inputcontainer svg {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(15%);
        pointer-events: none;
        color: #D3D9E9;
    }

.Box {
    margin-top: 80px;
    background-color: #796EA8;
    width: 1400px;
    height: 350px;
    border-radius: 40px;
}

.pickBox {
    margin-left: 50px;
    margin-top: 50px;
    background-color: #A6A9C8;
    width: 250px;
    height: 250px;
    border-radius: 40px;
}

.UploadIcon {
    margin-left: 93px;
    margin-top: 93px;
    color: #D3D9E9;
}

.File {
    max-width: 300px;
    max-height: 300px;
    margin-left: 500px;
    margin-top: -180px;
}